@font-face {
    font-family: "Museo Sans Cyrl";
    src: url("../fonts/MuseoSansCyrl.otf") format("opentype");
    font-style: italic;
    font-weight: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Museo Sans Cyrl";
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

ol,
ul {
    padding: 0;
    margin: 0;
}

#root,
#__next {
    isolation: isolate;
}

.py-50 {
    padding: 50px 0;
}

/*         header top            */

.header .header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .header__top ul {
    display: flex;
    flex-direction: row;
}

.header .header__top ul li:first-child {
    padding-left: 0;
}

.header .header__top ul li:last-child {
    padding-right: 0;
}

.header .header__top ul li a {
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}


.header .header__top .left li {
    list-style: none;
    padding: 15px 25px;
}

.header .header__top .right li {
    list-style: none;
    padding: 15px;
}

.header .header__top .right li img {
    width: 20px;
    height: 20px;
}

/*         header main            */

.navbar {
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
    background: #fff;
    padding: 10px 0;
}

.navbar .navbar-nav-left .nav-item .nav-link {
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.navbar .navbar-nav-left .nav-item .nav-link:hover {
    box-shadow: inset 130px 0 0 0 #54b3d6;
    color: white;
}

.navbar .navbar-nav-right .nav-item:last-child .nav-link {
    padding-right: 0;
    margin: 0;
}

.navbar .tel {
    text-decoration: none;
    color: #00A0E3;
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar .dropdown-language {
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.navbar .dropdown-language button:focus {
    border: none;
}

.navbar .dropdown-language button:checked {
    border: none;
}

/*         carousel section            */

.caousel-section .carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;

}

.caousel-section .carousel .carousel-indicators .active {
    background-color: #00A0E3;
    width: 10px;
    height: 10px;
    opacity: 1;
}

.caousel-section .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 20%;
    left: 12%;
    max-width: 40%;
    text-align: start;
}

.caousel-section .carousel .carousel-inner .carousel-item .carousel-caption h5 {
    color: #FFF;
    font-family: "Museo Sans Cyrl";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.caousel-section .carousel .carousel-inner .carousel-item .carousel-caption p {
    color: #FFF;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 50px;
}

.caousel-section .carousel .carousel-inner .carousel-item .carousel-caption button {
    border-radius: 50px;
    background: #FFF;
    padding: 16px 66px 15px 65px;
    color: #000;
    text-align: center;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.caousel-section .carousel .carousel-inner .carousel-item .carousel-caption button:hover {
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
}

/*         simple-swiper section            */

.swiper {
    width: 100%;
    height: auto;
}

.simple-swiper .swiper-image {
    overflow: hidden;
}

.simple-swiper .swiper-image img {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.simple-swiper .swiper-image:hover img {
    transform: scale(1.1);
}

.simple-swiper .swiper-text {
    padding: 26px 20px 0 20px;
}

.simple-swiper .swiper-text h2 {
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.simple-swiper .swiper-text p {
    width: 390px;
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*         sale section            */

.sale {
    position: relative;
}

.sale h1 {
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}

.sale .swiper-sale .swiper-card {
    height: 614px;
}

.sale .swiper-sale .swiper-card:hover {
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.sale .swiper-sale .swiper-card:hover .swiper-text button {
    display: inline-block;
}

.sale .swiper-sale .swiper-card:hover .swiper-image .icon-like {
    display: flex;
}

.sale .swiper-sale .swiper-card .swiper-image {
    position: relative;
    padding-top: 20px;
}

.sale .swiper-sale .swiper-card .swiper-image img {
    width: 340px;
    height: 354px;
}

.sale .swiper-sale .swiper-card .swiper-image .sale-flag {
    background: #FF5800;
    opacity: 0.8;
    position: absolute;
    color: #ffffff;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sale .swiper-sale .swiper-card .swiper-image .sale-flag p {
    margin: 0;
}

.sale .swiper-sale .swiper-card .swiper-image .icon-like {
    display: none;
    background: #ffffff;
    opacity: 0.8;
    position: absolute;
    color: #ffffff;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #00A0E3;
}

.sale .swiper-sale .swiper-card .swiper-image .icon-like svg {
    width: 24px;
    height: 24px;
}

.sale .swiper-sale .swiper-card .swiper-image .icon-like svg {
    stroke: #00A0E3;
}

.sale .swiper-sale .swiper-card .swiper-image .icon-like:hover {
    background: #00A0E3;
}

.sale .swiper-sale .swiper-card .swiper-image .icon-like:hover svg {
    stroke: #ffffff;
}

.sale .swiper-sale .swiper-card .swiper-text {
    padding: 20px 20px 30px 20px;
    text-align: center;
}

.sale .swiper-sale .swiper-card .swiper-text h3 {
    color: #000;
    text-align: center;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sale .swiper-sale .swiper-card .swiper-text h4 {
    color: #FF5800;
    text-align: center;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 15px 0;
}

.sale .swiper-sale .swiper-card .swiper-text h4 span {
    color: #9E9E9E;
    text-align: center;
    font-family: "Museo Sans Cyrl";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: line-through;
}

.sale .swiper-sale .swiper-card .swiper-text p {
    border-radius: 50px;
    background: #F5F5F5;
    padding: 2px 10px;
    color: #000;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sale .swiper-sale .swiper-card .swiper-text p span {
    color: #00a0e3;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 5px;
    margin-top: 1px;
}

.sale .swiper-sale .swiper-card .swiper-text button {
    border-radius: 50px;
    border: 1px solid #00a0e3;
    padding: 12px 46px;
    margin-top: 33px;
    display: none;
    color: #000;
    text-align: center;
    font-family: "Museo Sans Cyrl";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sale .swiper-sale .swiper-card .swiper-text button:hover {
    border: 1px solid #00a0e3;
    background: #00a0e3;
    color: #ffffff;
}

@media (max-width: 768px) {
    .header {
        display: none;
    }
}